
*.xcuserstate
Mapbox-iOS-SDK/
V3/Apple/VirtualCrit3/Pods/Mapbox-iOS-SDK/
.DS_Store
gpx1/
V3/Android/VirtualCrit3Lite/.idea/gradle.xml

V3/Android/VirtualCrit30/.idea/gradle.xml
V3/Android/VirtualCrit3Lite/.idea/gradle.xml
V3/Android/VirtualCrit3Lite/.idea/misc.xml
V3/Android/VirtualCrit3Lite/.idea/gradle.xml
